{% extends 'base.html.twig' %}

{% block title %}{{ produit.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/produit.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="product-details">
        <h1>{{ produit.name }}</h1>
        <img src="{{ asset('assets/Product_Images/' ~ produit.fichier) }}" alt="{{ produit.name }}">
        <p>{{ produit.description }}</p>
        <p><strong>Price:</strong> \${{ produit.prix|number_format(2, '.', ',') }}</p>
        <p><strong>Created on:</strong> {{ produit.dateCreation|date('Y-m-d') }}</p>

        <!-- Add Buy Now button or additional details -->
        <a href="#" class="btn btn-success">
            <i class="fa fa-shopping-cart"></i> Buy Now
        </a>
        <a href="{{ path('myshop') }}" class="btn back-btn">
            <i class="fa fa-arrow-left"></i> Back to Shop
        </a>
    </div>
{% endblock %}
