{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/utilisateur.css') }}">
{% endblock %}

{% block body %}
    <div class="edit-utilisateur-container">
        <h1 class="edit-utilisateur-title">Edit Utilisateur</h1>

        <div class="utilisateur-form-container">
            {{ form_start(form, {'attr': {'class': 'utilisateur-form'}}) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.email) }}
                {{ form_row(form.mdp) }}
                <button type="submit" class="utilisateur-submit-btn">
                    <i class="fas fa-save"></i> {{ button_label|default('Update') }}
                </button>
                <span class="edit-utilisateur-btn-group">
                    <a href="{{ path('app_utilisateur_delete', {'id': utilisateur.id}) }}" class="utilisateur-delete-btn">
                        <i class="fas fa-trash"></i> Delete
                    </a>
                </span>
            {{ form_end(form) }}
        </div>

        <!-- Go Back Button Below the Update/Delete buttons -->
        <div class="utilisateur-back-section">
            <a href="{{ path('app_utilisateur_index') }}" class="utilisateur-back-btn">
                <i class="fas fa-arrow-left"></i> Back to list
            </a>
        </div>
    </div>
{% endblock %}
