{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/utilisateur.css') }}">
{% endblock %}

{% block body %}
    <div class="utilisateur-container">
        <h1 class="utilisateur-title">Edit Utilisateur</h1>

        <div class="utilisateur-form-container">
            {{ form_start(form, {'attr': {'class': 'utilisateur-form'}}) }}
                <div class="utilisateur-form-field">
                    {{ form_row(form.nom) }}
                </div>
                <div class="utilisateur-form-field">
                    {{ form_row(form.prenom) }}
                </div>
                <div class="utilisateur-form-field">
                    {{ form_row(form.email) }}
                </div>
                <div class="utilisateur-form-field">
                    {{ form_row(form.mdp) }}
                </div>
                <div class="utilisateur-form-actions">
                    <button type="submit" class="utilisateur-submit-btn">
                        <i class="fas fa-save"></i> Save Changes
                    </button>
                </div>
            {{ form_end(form) }}
        </div>

        <div class="utilisateur-btn-group">
            <a href="{{ path('app_utilisateur_index') }}" class="utilisateur-back-btn">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>

        {{ include('utilisateur/_delete_form.html.twig', {'class': 'utilisateur-delete-form'}) }}
    </div>
{% endblock %}
